<div class="container">
  <div class="page-data">
    <nav class="navbar navbar-light bg-white">
      <a class="navbar-brand" href="#">
        <img
          src="../../../../assets/images/logo.svg"
          width="140"
          height="80"
          alt=""
          loading="lazy"
          style="margin-left: -10px;"
        />
      </a>
      <form class="form-inline">
        <button
          class="button button-3"
          type="button"
          (click)="navigateToSignIn()"
        >
          Sign In
        </button>
        <button
          class="button button-2"
          type="button"
          (click)="navigateToSignUp()"
        >
          Sign Up
        </button>
      </form>
    </nav>
  </div>
</div>
