<app-user-navigation></app-user-navigation>

<br /><br /><br />
<div class="container">
  <div class="page-data">
    <div class="row">
      <div class="col-md-12 text-justify">
        <p class="page-data-title">Registered Events</p>
        <br /><br />
        <div class="row">
          <div
            class="cards-container col-md-4"
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              vertical-align: middle;
            "
            *ngFor="let event of registeredEvents"
          >
            <app-event-card [eventData]="event"></app-event-card>
          </div>
        </div>
      </div>
    </div>
    <br /><br /><br /><br />
    <div class="row" style="padding: 0px 10px 0px 0px;">
      <div class="col-md-12 text-justify">
        <p class="page-data-title">Organized Events</p>
        <br /><br />
        <div class="row">
          <div
            class="cards-container col-md-4"
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              vertical-align: middle;
            "
            *ngFor="let event of organizedEvents"
          >
            <app-event-card [eventData]="event"></app-event-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
