<div class="container">
  <div class="page-data">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand" href="#">
        <img
          src="../../../../assets/images/logo.svg"
          width="140"
          height="80"
          alt=""
          loading="lazy"
          style="margin-left: -10px;"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mr-4">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/dashboard']">Dashboard </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/browseevents']"
              >Browse Events
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/eventaddedit']"
              >Create Event</a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/userprofile']"
                >My Account</a
              >
              <a class="dropdown-item">Support</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="onSignOut()">Sign Out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="container" *ngIf="!accountEnabled">
  <div class="banner">
    <h6>
      We have sent you an email. Please verify your account by clicking on the
      link to make the most of this site.
    </h6>
  </div>
</div>
