.event-content {
  height: 100%;
  margin: 0px;
  padding: 60px 0px 10px 0px;
}
.page-data {
  width: 600px;
  padding: 0px;
}
.container {
  margin-bottom: 100px;
}
.page-data-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
.row {
  justify-content: center;
}
.section {
  background-color: white;
  padding: 30px 40px 40px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.section-header-title {
  font-size: 20px;
  font-weight: 700;
}
.section-header-content {
  font-size: 15px;
  color: #6a7c94;
}
.section-content {
  padding: 0px;
}

label {
  margin: 0px;
  font-size: 12px;
  font-weight: 700;
}

input,
textarea,
select {
  height: 50px;
  font-size: 14px;
  padding-left: 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.button {
  text-align: center;
}
.button-nav {
  height: 50px;
  width: 150px;
  background: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
  font-weight: 700;
}
.button-nav:focus {
  outline: none;
}
.button-nav:hover {
}

.label-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.has-tickets {
  text-align: center;
  width: 100%;
  height: 50px;
  vertical-align: middle;
  background-color: #f1f1f1;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 35px;
}

.add-ticket-button {
  height: 50px;
  width: 150px;
  background: none;
  border-radius: 10px;
  background-color: #2caffe;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
}
.add-ticket-button:focus {
  outline: none;
}
.add-ticket-button:hover {
}

ngx-dropzone,
.custom-dropzone {
}

.custom-dropzone {
  height: 300px;
  color: #6a7c94;
  background-color: #f7f8fa;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.custom-dropzone.ngx-dz-hovered {
  /* border: 3px solid rgba(0, 0, 0, 0.2); */
}

.add-button {
  height: 50px;
  width: 100%;
  background: none;
  border-radius: 10px;
  background-color: #2caffe;
  border: 1px solid #2caffe;
  color: white;
  font-weight: 500;
}
.add-button:focus {
  outline: none;
}
.add-button:hover {
}

.submit-button {
  height: 50px;
  width: 150px;
  background: none;
  border-radius: 10px;
  background-color: #7848f4;
  border: 1px solid #fff;
  color: white;
  font-weight: 500;
}
.submit-button:focus {
  outline: none;
}
.submit-button:hover {
}

.user-container {
  width: 100%;
  height: 300px;
  font-size: 14px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  overflow-y: auto;
}
.user-tag {
  text-align: center;
  float: left;
  padding: 10px 10px 10px 15px;
  margin: 15px;
  background-color: #eeeeee;
  color: #7d7d7d;
  border: none;
  border-radius: 6px;
  margin: 3px;
  font-weight: 500;
}

.close-button {
  position: relative;
  top: -1px;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .gayab {
    display: none;
  }
  .page-data {
    width: 88vw;
    padding: 0px;
  }

  .section-header-title {
    font-size: 20px;
    font-weight: 700;
  }
  .section-header-content {
    font-size: 15px;
    color: #6a7c94;
  }
  .add-button {
    position: relative;
    margin-top: -50px;
    width: 150px;
  }
}
@media screen and (min-width: 991px) {
  .mobile-pe-dikhega {
    display: none;
  }
}
