<app-user-navigation></app-user-navigation>
<div class="event-content">
  <div class="container d-flex justify-content-center">
    <form [formGroup]="createEventForm" (ngSubmit)="onSubmit()">
      <div class="page-data p-2">
        <div class="page-data-title">
          Create an Event
        </div>
        <div class="row">
          <div class="col-md-12 section">
            <div class="row section-header">
              <div class="col-md-2">
                <div
                  class="section-image"
                  style="
                    background-color: coral;
                    border-radius: 40px;
                    width: 80px;
                    height: 80px;
                    border: 1px solid;
                  "
                ></div>
              </div>
              <div class="col-md-10" style="padding-left: 20px;">
                <div class="section-header-title">Basic Info</div>
                <div class="section-header-content">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Explicabo vero eos quia incidunt enim nobis?
                </div>
              </div>
            </div>
            <br />
            <hr />
            <br />
            <div class="row section-content">
              <div class="col-md-12 d-flex flex-column justify-content-center">
                <div class="form-group">
                  <label for="eventName" class="p-2">EVENT NAME</label>
                  <input
                    type="text"
                    class="form-control"
                    id="eventName"
                    formControlName="eventName"
                  />
                </div>
                <div class="form-group">
                  <label for="place" class="p-2">PLACE</label>
                  <input
                    type="text"
                    class="form-control"
                    id="place"
                    formControlName="place"
                  />
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6" style="width: 100%;">
                    <label for="eventBeginDate" class="p-2">EVENT BEGINS</label>
                    <input
                      type="date"
                      class="form-control"
                      id="eventBeginDate"
                      formControlName="eventBeginDate"
                    />
                  </div>
                  <div class="form-group col-md-6" style="width: 100%;">
                    <label for="eventBeginTime" class="p-2">START TIME</label>
                    <input
                      type="time"
                      class="form-control"
                      id="eventBeginTime"
                      formControlName="eventBeginTime"
                    />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6" style="width: 100%;">
                    <label for="eventEndDate" class="p-2">EVENT ENDS</label>
                    <input
                      type="date"
                      class="form-control"
                      id="eventEndDate"
                      formControlName="eventEndDate"
                    />
                  </div>
                  <div class="form-group col-md-6" style="width: 100%;">
                    <label for="eventEndTime" class="p-2">END TIME</label>
                    <input
                      type="time"
                      class="form-control"
                      id="eventEndTime"
                      formControlName="eventEndTime"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
