<app-user-navigation></app-user-navigation>
<div class="container banner">
  <div class="page-data">
    <div class="row">
      <div class="col-md-8">
        <br /><br /><br /><br /><br />
        <p class="event-title">
          {{ eventData?.eventName }}
        </p>
        <p class="event-organizer">By Avranil Maity</p>
        <br />
        <p class="event-address">
          A-407, Yashwin, Hinjewadi Phase II <br />Pune, Maharashtra, Pin:
          411057
        </p>
        <p class="event-map">View Map</p>
      </div>
      <div class="col-md-4" *ngIf="isOwner == false">
        <br /><br /><br /><br />
        <div class="holder">
          <div class="card">
            <p class="date-time">Date & Time</p>
            <p class="date-time-data">Saturday, Sep 24, 2019 at 8:30 PM</p>
            <br />
            <div class="button">
              <button
                class="button-1"
                type="button"
                (click)="navigateToRegister()"
              >
                Book Now
              </button>
            </div>
            <div class="button">
              <button
                class="button-1"
                type="button"
                style="background-color: #efeff3; color: black;"
              >
                Share Event
              </button>
            </div>
            <p class="refunds">Partially refundable</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="page-data">
    <div class="row">
      <div class="col-md-8 text-justify" style="padding-right: 100px;">
        <p class="page-data-title">Description</p>
        <p class="page-data-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
          necessitatibus reiciendis deleniti quis laboriosam nemo ad hic! Omnis
          doloribus, libero facilis repellat soluta veritatis commodi, suscipit
          sed temporibus nostrum alias. Necessitatibus architecto itaque modi ea
          repellat laudantium molestias adipisci exercitationem officia?
          <br />
          <br />
          Omnis ipsam eaque ipsum a quibusdam vitae aliquid, eius dolore ducimus
          voluptatem pariatur distinctio provident dolorem laudantium minus at.
          Doloremque, nemo cum architecto tempore fugit quibusdam repudiandae
          esse officiis.
        </p>
        <br />
        <p class="page-data-title">Event Timings</p>
        <p class="page-data-content">
          From: 22<sup>nd</sup> May 2020 at 8:30 pm
        </p>
        <p class="page-data-content">
          To: 24<sup>nd</sup> May 2020 at 12:30 am
        </p>
        <br />
        <div *ngIf="!isOwner">
          <p class="page-data-title">How to contact the organizer?</p>
          <p class="page-data-content">
            Please visit www.torbaaperbiyediyedebo.com and refer to the FAQ
            section for all questions and contact information.
          </p>
        </div>
        <div *ngIf="isOwner">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <h6 class="page-data-title">People Attending</h6>
                <div class="user-container" style="margin-top: 20px;">
                  <div *ngFor="let user of invitedUsers; let i = index">
                    <span
                      class="user-tag"
                      *ngIf="user.ticketType == 'VIP'"
                      style="background-color: #fdad5d; color: white;"
                    >
                      <span class="user-tag-data">
                        {{ user.name }}
                      </span>
                    </span>
                    <span class="user-tag" *ngIf="user.ticketType == 'Regular'">
                      <span class="user-tag-data">
                        {{ user.name }}
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 50px;">
            <div class="col-md-12" style="margin-top: 20px;">
              <form [formGroup]="addFriendForm" (ngSubmit)="onAddUser()">
                <h6 class="page-data-title">
                  Invite more people
                </h6>
                <div class="form-group">
                  <h6 class="p-2">Friend's name</h6>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="James Bond"
                    formControlName="name"
                  />
                </div>
                <div class="form-group">
                  <h6 class="p-2">Email ID</h6>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="someone@example.com"
                    formControlName="emailId"
                  />
                </div>
                <br />
                <div
                  class="btn-section"
                  style="display: flex; justify-content: start;"
                >
                  <div class="button" style="margin-right: 10px;">
                    <button
                      class="button-reg p-2"
                      type="submit"
                      name="Regular"
                      (click)="onAddAsRegular()"
                    >
                      Add as Regular
                    </button>
                  </div>
                  <div class="button">
                    <button
                      class="button-vip p-2"
                      type="submit"
                      name="VIP"
                      (click)="onAddAsVIP()"
                    >
                      Add as VIP
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p class="page-data-title">
          Event Location
        </p>
        <div>
          <iframe
            class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1590.010750646434!2d73.69973501940292!3d18.587370091984894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf16ef3b59f01d1da!2sYashwin%20Hinjawadi!5e0!3m2!1sen!2sin!4v1590167885595!5m2!1sen!2sin"
            width="600"
            height="450"
            frameborder="0"
            style="border: 0;"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
        <br /><br />
        <p class="page-data-title">
          Eta Tor Baaper Biyer Event Page
        </p>
        <p class="page-data-content">
          A-407, Yashwin, Hinjewadi Phase II Pune, Maharashtra, Pin: 411057
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
