.page-data {
  padding-left: 60px;
  padding-right: 60px;
}
.container {
  margin-bottom: 100px;
}
.banner {
  /* background: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.5),
      rgb(120, 72, 244, 0.1)
    ),
    url("../../../../assets/images/event-details.jpg"); */
  background-size: cover;
  height: 80vh;
  border-radius: 10px;
  color: white;
}
.event-title {
  font-size: 45px;
  font-weight: 700;
}
.event-organizer {
  font-size: 18px;
  font-weight: 400;
}
.event-address {
  font-size: 18px;
  font-weight: 200;
}
.event-map {
  font-size: 18px;
  font-weight: 600;
}

.holder {
  display: grid;
  grid-template-columns: 320px;
  grid-template-rows: 335px;
  grid-template-areas: "card";
}
.card {
  grid-area: card;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  color: black;
  padding: 30px;
}
.date-time {
  font-size: 25px;
  font-weight: 700;
}
.date-time-data {
  font-size: 15px;
  font-weight: 500;
  color: #6a7c94;
}
.button {
  text-align: center;
}
.button-1 {
  height: 50px;
  width: 260px;
  background: none;
  border-radius: 10px;
  background-color: #7848f4;
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
}
.button-1:focus {
  outline: none;
}
/* .button-1:hover {
} */
.refunds {
  margin-top: 10px;
  text-align: center;
  color: #6a7c94;
  font-weight: 600;
}
.page-data-title {
  font-size: 30px;
  font-weight: 600;
}
.page-data-content {
  font-weight: 500;
  color: #6a7c94;
}
.map {
  width: 320px;
  height: 290px;
  border-radius: 10px;
}

.button {
  text-align: left;
}
.button-reg {
  height: 50px;
  width: 150px;
  background: none;
  border-radius: 5px;
  background-color: #7848f4;
  border: 1px solid #fff;
  color: white;
  font-weight: 700;
}
.button-reg:focus {
  outline: none;
}
.button-reg:hover {
  background: #875af8;
}
.button-vip {
  height: 50px;
  width: 150px;
  background: none;
  border-radius: 5px;
  background-color: #ec9a48;
  border: 1px solid #ec9a48;
  color: white;
  font-weight: 700;
}
.button-vip:focus {
  outline: none;
}
.button-vip:hover {
  background: #eca761;
}

.user-container {
  width: 100%;
  height: 260px;
  font-size: 14px;
  background: whitesmoke;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto;
}
.user-tag {
  text-align: center;
  float: left;
  padding: 10px 10px 10px 15px;
  margin: 15px;
  background-color: #eeeeee;
  color: #7f7f7f;
  border: none;
  border-radius: 5px;
  margin: 3px;
  font-weight: 500;
}

.name {
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 10px;
}

label {
  margin: 0px;
  font-size: 12px;
  font-weight: 700;
}

input {
  height: 50px;
  font-size: 14px;
  padding-left: 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
