<div class="row">
  <div class="col-md-5 image d-flex flex-column justify-content-center">
    <div class="header">
      <p class="p-2 sub-header-1">EventBuzz</p>
      <br /><br /><br /><br />
      <p class="p-2 sub-header-3">Welcome Back!</p>
    </div>
    <p class="text p-2">
      To keep connected with us please log in with your <br />
      personal info
    </p>
    <br />
    <div class="button">
      <button class="button-2 p-2" type="button" (click)="navigateToSignIn()">
        Sign In
      </button>
    </div>
  </div>
  <div
    class="col-md-7 content d-flex flex-column justify-content-center"
    *ngIf="!proceed"
  >
    <div class="header">
      <p class="p-2 sub-header-2">Create Account</p>
      <br />
    </div>

    <form [formGroup]="signUpForm" class="p-2">
      <div class="form-group">
        <h6 class="p-2">Full Name</h6>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="James Bond"
          formControlName="name"
        />
      </div>

      <div class="form-group">
        <h6 class="p-2">Phone</h6>
        <input
          type="number"
          class="form-control"
          id="phone"
          formControlName="phone"
        />
      </div>
      <div class="form-row" style="display: flex;">
        <div class="form-group col-md-3">
          <h6 class="p-2">ID Type</h6>
          <select class="form-control" id="idType" formControlName="idType">
            <option *ngFor="let id of idList">
              {{ id }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-9">
          <h6 class="p-2">Upload ID</h6>
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              formControlName="idSoftCopy"
              id="idSoftCopy"
              (change)="onFileChange($event.target.files)"
            />
            <label class="custom-file-label" #labelImport for="idSoftCopy"
              >Choose file</label
            >
          </div>
        </div>
      </div>

      <br />
      <div class="button">
        <button class="button-1 p-2" type="button" (click)="onProceed()">
          Proceed
        </button>

        <p class="text p-2" style="color: #6a7c94; font-weight: 500;">
          <br />
          Click Proceed to set your credentials
          <br /><br />
        </p>
      </div>
    </form>
  </div>
  <div
    *ngIf="proceed"
    class="col-md-7 content d-flex flex-column justify-content-center"
  >
    <div class="header">
      <p class="p-2 sub-header-2">Enter Credentials</p>
      <br />
    </div>

    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()" class="p-2">
      <div class="form-group">
        <h6 class="p-2">Email ID</h6>
        <input
          type="text"
          class="form-control"
          id="emailId"
          placeholder="jamesbond@mi6.co.uk"
          formControlName="emailId"
        />
      </div>

      <div class="form-group">
        <div class="d-flex justify-content-between">
          <h6 class="p-2">Password</h6>
        </div>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="6+ characters"
          formControlName="password"
        />
      </div>
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <h6 class="p-2">Confirm Password</h6>
        </div>
        <input
          type="password"
          class="form-control"
          id="confirmpassword"
          placeholder="6+ characters"
          formControlName="confirmPassword"
        />
      </div>
      <br />
      <div class="button">
        <button class="button-1 p-2" type="submit" (click)="onSignUp()">
          Sign Up
        </button>

        <p class="text p-2" style="color: #6a7c94; font-weight: 500;">
          <br />
          By clicking "SIGN UP" I agree to the <br />
          Terms of Service and Privacy Policy
        </p>
      </div>
    </form>
  </div>
</div>
