<div class="row">
  <div class="col-md-5 image d-flex flex-column justify-content-center">
    <div class="header">
      <p class="p-2 sub-header-1">EventBuzz</p>
      <br /><br /><br /><br />
      <p class="p-2 sub-header-3">Welcome Back!</p>
    </div>
    <p class="text p-2">
      To keep connected with us please log in with your <br />
      personal info
    </p>
    <br />
    <div class="button">
      <button class="button-2 p-2">
        Sign In
      </button>
    </div>
  </div>
  <div
    class="col-md-7 content d-flex flex-column justify-content-center"
    *ngIf="!proceed"
  >
    <div class="header">
      <p class="p-2 sub-header-2">Create Account</p>
      <br />
    </div>

    <form class="p-2">
      <div class="form-group">
        <label for="username" class="p-2">FULL NAME</label>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="James Bond"
        />
      </div>

      <div class="form-group">
        <label for="phone" class="p-2">PHONE</label>
        <input type="number" class="form-control" id="phone" />
      </div>
      <div class="form-group">
        <label for="idproof" class="p-2">AADHAR NUMBER</label>
        <input type="text" class="form-control" id="idproof" />
      </div>

      <br />
      <div class="button">
        <button class="button-1 p-2" type="button" (click)="onProceed()">
          Proceed
        </button>

        <p class="text p-2" style="color: #6a7c94; font-weight: 500;">
          <br />
          Click Proceed to set your credentials
        </p>
      </div>
    </form>
  </div>
  <div
    *ngIf="proceed"
    class="col-md-7 content d-flex flex-column justify-content-center"
  >
    <div class="header">
      <p class="p-2 sub-header-2">Enter Credentials</p>
      <br />
    </div>

    <form class="p-2">
      <div class="form-group">
        <label for="email" class="p-2">WORK EMAIL ADDRESS</label>
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="jamesbond@mi6.co.uk"
        />
      </div>

      <div class="form-group">
        <div class="d-flex justify-content-between">
          <label for="password" class="p-2">PASSWORD</label>
        </div>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="6+ characters"
        />
      </div>
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <label for="confpassword" class="p-2">CONFIRM PASSWORD</label>
        </div>
        <input
          type="password"
          class="form-control"
          id="confpassword"
          placeholder="6+ characters"
        />
      </div>
      <br />
      <div class="button">
        <button class="button-1 p-2" type="button" (click)="onProceed()">
          Sign Up
        </button>

        <p class="text p-2" style="color: #6a7c94; font-weight: 500;">
          <br />
          By clicking "SIGN UP" I agree to the Terms of Service and Privacy
          Policy
        </p>
      </div>
    </form>
  </div>
</div>
