<app-common-navigation></app-common-navigation>
<div class="container banner">
  <div class="page-data">
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <br /><br /><br /><br /><br />
        <p class="event-title">
          MADE FOR THOSE <br /> WHO DO
        </p>
     
      </div>

      
    </div>

  </div>
</div>
<div class="container">
  <div class="page-data">
    <div class="row" style="padding: 0px 10px 0px 0px;">
      <div class="col-md-12 text-justify">
        <p class="page-data-title">Popular Events</p>
        <br /><br />
        <div class="row">
          <div class="cards-container" *ngFor="let event of popularEvents">
            <app-event-card class="col-md-4" [eventData]="event"></app-event-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



