.page-data {
  padding-left: 60px;
  padding-right: 60px;
}

.head-banner {
  height: 500px;
}
.cards-container {
  display: flex;
  justify-content: space-between;
}
.page-data-title {
  font-size: 30px;
  font-weight: 700;
}
input,
select {
  height: 50px;
  font-size: 14px;
  padding-left: 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h6 {
  color: dimgray;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.search-button {
  margin-top: 44px;
}
.btn-search {
  height: 48px;
  width: 100%;
  background: none;
  border-radius: 5px;
  background-color: #7848f4;
  border: 1px solid #7848f4;
  color: white;
  font-weight: 700;
}
.btn-search:focus {
  outline: none;
}
.btn-search:hover {
  background: #875af8;
}
h6 {
  line-height: 15px;
  font-size: 15px;
}

@media screen and (max-width: 990px) {
  .search {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 10px 10px;

    background-color: white;
    margin-bottom: 100px;
    margin-left: 0px;
    position: relative;
    margin-top: -60px;
  }
  .search-criteria {
    width: 100%;
    padding: 0px 10px 0px 10px;
  }
}
@media screen and (min-width: 991px) {
  .search {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 10px 10px;
    position: relative;
    margin-top: -60px;
    background-color: white;
    margin-bottom: 100px;
  }
  .search-criteria {
    width: 300px;
    padding: 0px 10px 0px 10px;
  }
}
