.page-data {
  padding-left: 60px;
  padding-right: 60px;
}
.container {
  margin-bottom: 100px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
}
.page-data-title {
  font-size: 30px;
  font-weight: 600;
}
input,
textarea,
select {
  height: 50px;
  font-size: 14px;
  padding-left: 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
