<div class="card"(click)="navigateToEventDetails()">
  <div class="card-image" style="background-image: url({{eventData.eventImageUrl}});"></div>
  <div class="card-text">
    <div class="content">
      <div class="month">{{eventData.eventDate| date: 'MMM'}}</div>
      <div class="day">{{eventData.eventDate| date: 'dd'}}</div>
    </div>
    <div class="content">
      <div class="content-data">
        <div class="title">
          {{eventData.eventName}}
        </div>
        <div class="about">
          {{eventData.eventDescription}}
        </div>
      </div>
    </div>
  </div>
</div>
