<div class="card" (click)="navigateToEventDetails()">
  <div
    class="card-image"
    style="background-image: url({{ eventData.eventImageUrl }} )"
  ></div>
  <div class="card-text">
    <div class="content date-block">
      <div class="day">{{ eventData.eventFromDate | date: "dd" }}</div>
      <div class="month">
        {{ eventData.eventFromDate | date: "MMM" | uppercase }}
      </div>
    </div>
    <div class="content">
      <div class="content-data">
        <div class="title">
          {{ eventData.eventName }}
        </div>
        <div class="about">
          {{ eventLocation }}
        </div>
      </div>
    </div>
  </div>
</div>
