<div class="container-fluid">
  <div class="container">
    <div class="page-data">
      <div class="row">
        <div class="col-md-3 link-col">
          <h5>Product</h5>
          <div class="link">Pricing</div>
          <div class="link">Event Ticketing</div>
          <div class="link">Booking</div>
          <div class="link">Promotion</div>
          <div class="link">Developers</div>
        </div>
        <div class="col-md-3 link-col">
          <h5>Explore More</h5>
          <div class="link">How it works</div>
          <div class="link">Download App</div>
          <div class="link">Sell Tickets</div>
          <div class="link">Non-profit & Fundraisers</div>
        </div>
        <div class="col-md-3 link-col gayab"></div>
        <div class="col-md-3 link-col-last">
          <h5>Connect With Us</h5>
          <div class="link">Customer Support</div>
          <div class="link">About</div>
          <div class="link">Feedback</div>

          <div
            class="social"
            style="margin-top: 20px; position: relative; left: -8px;"
          >
            <img src="../../../../assets/images/facebook.svg" alt="" />
            <img src="../../../../assets/images/instagram.svg" alt="" />
            <img src="../../../../assets/images/twitter.svg" alt="" />
          </div>
        </div>
      </div>
      <hr style="border-color: rgba(255, 255, 255, 0.1);" />
    </div>
  </div>
  <div class="row footer">
    <div class="col-md-12">
      <div class="row">
        <div
          class="col-md-12 gayab"
          style="text-align: center; font-size: large;"
        >
          Terms and Conditions | Privacy Policy | Credits
        </div>
        <div class="col-md-12 mobile-pe-dikhega" style="text-align: center;">
          Terms and Conditions | Privacy Policy | Credits
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 gayab" style="text-align: center;">
          Copyright &copy; 2020 EventBuzz. All Rights Reserved.
        </div>
        <div class="col-md-12 mobile-pe-dikhega" style="text-align: center;">
          Copyright &copy; 2020 EventBuzz. All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</div>
