.container-fluid {
  background-color: #0b0434;
  padding: 100px 50px 50px 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-data {
  padding-left: 60px;
  padding-right: 60px;
  color: white;
}
.link {
  color: #cfcfcf;
  font-size: 20px;
  line-height: 45px;
}
.footer {
  color: #a1a1a1;
}
.social {
  display: flex;
  justify-content: start;
}
.social img {
  width: 24px;
  margin-right: 15px;
}

@media screen and (max-width: 990px) {
  .container-fluid {
    background-color: #0b0434;
    padding: 50px 0px 50px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .gayab {
    display: none;
  }
  .link-col {
    margin-top: 40px;
  }
  .link-col-last {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 991px) {
  .mobile-pe-dikhega {
    display: none;
  }
}
