<div class="container-fluid">
  <div class="confirmation">
    <div class="row ticket" id="ticket">
      <div class="col-md-6 main">
        <div class="row event-title-main">
          <div class="col-md-12">
            {{ event?.eventName }}
          </div>
        </div>
        <div class="row event-location-main">
          <div class="col-md-9">
            <p>{{ event?.eventLocation }}</p>
          </div>
        </div>
        <div class="row event-date-main">
          <div class="col-md-3 date-time">
            <div class="date">
              <div class="day">{{ event?.eventFromDate | date: "dd" }}</div>
              <div class="month-year">
                <div class="month">
                  {{ event?.eventFromDate | date: "MMM" | uppercase }}
                </div>
                <div class="year">{{ event?.eventFromDate | date: "yyyy" }}</div>
              </div>
            </div>
            <div class="time">
              {{ event?.eventFromDate | date: "h:mm a" }}
            </div>
          </div>
          <div
            class="col-md-3 separator"
            style="display: flex; align-items: center; justify-content: center;"
          >
            <img
              src="../../../../assets/images/horizontal_rule.svg"
              style="width: 80%;"
              alt=""
            />
          </div>
          <div class="col-md-3 date-time">
            <div class="date">
              <div class="day">{{ event?.eventToDate | date: "dd" }}</div>
              <div class="month-year">
                <div class="month">
                  {{ event?.eventToDate | date: "MMM" | uppercase }}
                </div>
                <div class="year">{{ event?.eventToDate | date: "yyyy" }}</div>
              </div>
            </div>
            <div class="time">
              {{ event?.eventToDate | date: "h:mm a" }}
            </div>
          </div>
        </div>

        <div class="row event-logo-main">
          <div class="col-md-3">
            <img src="../../../../assets/images/white_3.png" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-2 barcode-holder">
        <div class="barcode">
          <div style="font-size: 20px; font-weight: 500;">
            {{ registration.name }}
          </div>
          <h6 style="color: #2caffe;">{{ registration?.ticketType }}</h6>
          <br />
          <!-- <img
            src="../../../../assets/images/barcode.svg"
            alt=""
            style="width: 150px;"
          /> -->
          <ngx-barcode6
            [bc-format]="'CODE128'"
            [bc-value]="registrationId"
            [bc-background]="'#7848F4'"
            [bc-line-color]="'white'"
            [bc-element-type]="'SVG'"
            [bc-height]="'32'"
            [bc-width]="'1'"
          >
          </ngx-barcode6>
        </div>
      </div>
      <div class="col-md-4 sub">
        <div class="row event-title-sub">
          <div class="col-md-12">
            <div style="font-size: 25px; font-weight: 500;">
              {{ event?.eventName }}
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-md-12"
            style="
              display: flex;
              justify-content: space-between;
              padding: 0px;
              margin: 0px;
            "
          >
            <div class="date-time" style="margin: 10px 20px 10px 10px;">
              <div class="date">
                <div class="day">{{ event?.eventFromDate | date: "dd" }}</div>
                <div class="month-year">
                  <div class="month">
                    {{ event?.eventFromDate | date: "MMM" | uppercase }}
                  </div>
                  <div class="year">
                    {{ event?.eventFromDate | date: "yyyy" }}
                  </div>
                </div>
              </div>
              <div class="time">
                {{ event?.eventFromDate | date: "h:mm a" }}
              </div>
            </div>
            <div class="date-time" style="margin: 10px 10px 10px 20px;">
              <div class="date">
                <div class="day">{{ event?.eventToDate | date: "dd" }}</div>
                <div class="month-year">
                  <div class="month">
                    {{ event?.eventToDate | date: "MMM" | uppercase }}
                  </div>
                  <div class="year">{{ event?.eventToDate | date: "yyyy" }}</div>
                </div>
              </div>
              <div class="time">
                {{ event?.eventToDate | date: "h:mm a" }}
              </div>
            </div>
          </div>
        </div>
        <div class="row event-logo-sub">
          <div
            class="col-md-12"
            style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            "
          >
            <img src="../../../../assets/images/logo.svg" alt="" />
            <div style="font-size: 18px; font-weight: 500; margin-top: 40px;">
              {{ registration.name }}
            </div>
            <h6 style="color: #2caffe; font-size: 13px;">
              {{ registration.ticketType }}
            </h6>
          </div>
        </div>
        <div class="row event-barcode-sub">
          <div class="col-md-12">
            <!-- <img src="../../../../assets/images/barcode_black.svg" alt="" /> -->
            <ngx-barcode6
              [bc-format]="'CODE128'"
              [bc-value]="registrationId"
              [bc-background]="'white'"
              [bc-element-type]="'SVG'"
              [bc-height]="'30'"
              [bc-width]="'1.5'"
            >
            </ngx-barcode6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button" style="margin-top: 20px;">
    <button class="button-2" type="button" (click)="downloadTicket()">
      Print
    </button>
  </div>
</div>
