<div class="row">
  <div class="col-md-4 add-data">
    <div class="row" style="border: 0px solid;">
      <div class="col-md-2">
        <div class="back">
          <img
            src="../../../../assets/images/back_arrow.svg"
            alt=""
            style="width: 30px; height: 30px;"
            (click)="backToEventPage()"
          />
        </div>
      </div>
      <div class="col-md-10">
        <h2 style="font-size: 30px;">
          Bring your <br />
          <span style="font-size: 45px; color: #f2b070;">friends!</span>
        </h2>
      </div>
    </div>
    <div class="row" style="margin-left: 15px; margin-top: 50px;">
      <div class="col-md-12">
        <form [formGroup]="addFriendForm" (ngSubmit)="onAddUser()">
          <div class="form-group">
            <h6 class="p-2">Friend's name</h6>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="James Bond"
              formControlName="name"
            />
          </div>
          <div class="form-group">
            <h6 class="p-2">Email ID</h6>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="someone@example.com"
              formControlName="emailId"
            />
          </div>
          <br />
          <div
            class="btn-section"
            style="display: flex; justify-content: space-between;"
          >
            <div class="button">
              <button
                class="button-reg p-2"
                type="submit"
                name="Regular"
                (click)="onAddAsRegular()"
              >
                Add as Regular
              </button>
            </div>
            <div class="button">
              <button
                class="button-vip p-2"
                type="submit"
                name="VIP"
                (click)="onAddAsVIP()"
              >
                Add as VIP
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4 mid-sec">
    <div class="row">
      <div class="col-md-7" style="text-align: end;">
        <h1 style="font-weight: 200; font-size: 25px;">
          Seats <br />
          Remaining
        </h1>
      </div>
      <div class="col-md-5 seats">
        <div class="vip" style="margin-right: 10px;">
          <div class="count">26</div>
          <div class="name">VIP</div>
        </div>
        <div class="reg">
          <div class="count">163</div>
          <div class="name">REGULAR</div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 50px;">
      <div class="col-md-12">
        <div class="form-group">
          <h6 class="p-2">
            People attending
          </h6>
          <div class="user-container">
            <div *ngFor="let user of invitedUsers; let i = index">
              <span
                class="user-tag"
                *ngIf="user.ticketType == 'VIP'"
                style="background-color: #fdad5d; color: white;"
              >
                <span class="user-tag-data">
                  {{ user.name }}
                </span>
                <img
                  src="../../../../assets/images/remove_button_white.svg"
                  class="close-button"
                  alt=""
                  (click)="onDeleteUser(i)"
                />
              </span>
              <span class="user-tag" *ngIf="user.ticketType == 'Regular'">
                <span class="user-tag-data">
                  {{ user.name }}
                </span>
                <img
                  src="../../../../assets/images/remove_button.svg"
                  class="close-button"
                  alt=""
                  (click)="onDeleteUser(i)"
                />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 billing">
    <h2 class="title">Billing Details</h2>
    <div class="bill">
      <div class="row">
        <div
          class="col-md-12"
          style="display: flex; justify-content: space-between;"
        >
          <div class="bill-header">Ticket Type</div>
          <div class="bill-header">Price</div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div
          class="col-md-12"
          style="display: flex; justify-content: space-between;"
        >
          <div class="bill-data">
            Regular
            <span style="font-size: 12px; color: #7848f4;"
              >&#8377; {{ regularfixedPrice | number: "1.0-0" }}</span
            >
          </div>
          <div class="bill-data" style="font-weight: 500;">
            &#8377; {{ trp | number: "1.0-0" }}
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-12"
          style="display: flex; justify-content: space-between;"
        >
          <div class="bill-data">
            VIP
            <span style="font-size: 12px; color: #7848f4;"
              >&#8377; {{ vipfixedPrice | number: "1.0-0" }}</span
            >
          </div>
          <div class="bill-data" style="font-weight: 500;">
            &#8377; {{ tvp | number: "1.0-0" }}
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div
          class="col-md-12"
          style="display: flex; justify-content: space-between;"
        >
          <div class="bill-footer">
            Total Amount
          </div>
          <div class="bill-footer" style="font-weight: 500;">
            &#8377; {{ totalAmount | number: "1.0-0" }}
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 2px;">
        <div
          class="col-md-12"
          style="display: flex; justify-content: space-between;"
        >
          <div class="bill-taxes">
            CGST
          </div>
          <div class="bill-taxes" style="font-weight: 500;">
            &#8377; {{ (cgst * totalAmount) / 100 | number: "1.0-0" }}
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 2px;">
        <div
          class="col-md-12"
          style="display: flex; justify-content: space-between;"
        >
          <div class="bill-taxes">
            SGST
          </div>
          <div class="bill-taxes" style="font-weight: 500;">
            &#8377; {{ (sgst * totalAmount) / 100 | number: "1.0-0" }}
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 2px;">
        <div
          class="col-md-12"
          style="display: flex; justify-content: space-between;"
        >
          <div class="bill-taxes">
            EventBuzz Charges
          </div>
          <div class="bill-taxes" style="font-weight: 500;">
            &#8377; {{ (service * totalAmount) / 100 | number: "1.0-0" }}
          </div>
        </div>
      </div>
      <div class="row promo" *ngIf="!promoApplied">
        <div class="col-md-12">
          <form [formGroup]="promoCodeForm" (ngSubmit)="onApplyPromo()">
            <div class="form-group">
              <h6 class="p-2">Apply Promocode</h6>
              <div class="d-flex justify-content-end">
                <input
                  type="text"
                  placeholder="EXAMPLE50"
                  class="form-control p-2 text-center"
                  formControlName="promocode"
                  style="
                    border: 2px dashed rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                  "
                />
                <div class="button" style="margin-left: 5px;">
                  <button class="button-apply p-2" type="submit">
                    Apply
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row promo" *ngIf="promoApplied">
        <div class="col-md-7 bill-promo">
          <div class="promo-div">
            <span class="promo-code">
              {{ promoCode.name }}
              <img
                src="../../../../assets/images/remove_button.svg"
                class="close-button"
                alt=""
                (click)="onCancelPromo()"
              />
            </span>
          </div>
          <div
            class="promo-message"
            style="
              font-size: 14px;
              padding-top: 10px;
              padding-bottom: 5px;
              font-weight: 400;
            "
          >
            {{ promoMsg }}
          </div>
        </div>
        <div class="col-md-5 bill-promo text-right" style="margin-top: 10px;">
          (-) &#8377; {{ totalDiscount | number: "1.0-0" }}
        </div>
      </div>
    </div>
    <div class="final-bill">
      <div class="row final-amount">
        <div class="col-md-12" style="display: flex; justify-content: center;">
          <div
            class=""
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              margin-right: 20px;
            "
          >
            <div style="font-size: 20px; font-weight: 300;">
              Amount Payable
            </div>
            <div style="color: #fdad5d;">
              <h2>&#8377; {{ finalAmount | number: "1.0-0" }}</h2>
            </div>
          </div>
          <div
            class=""
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            "
          >
            <div class="button">
              <button
                class="button-pay p-2"
                type="button"
                (click)="confirmRegistration()"
              >
                Pay
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
