.row {
  width: 100%;
  margin: 0px;
}
.add-data {
  height: 100vh;
  padding: 50px;
  background-color: #7848f4;
  color: white;
}
.mid-sec {
  height: 100vh;
  padding: 50px;
  background-color: #7848f4;
  color: white;
}
.back {
  border-radius: 50%;
  cursor: pointer;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
}
.back:hover {
  background: #875af8;
}

.title {
  font-weight: 500;
}
.seats {
  border-left: 2px solid #f2b070;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.count {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 35px;
  color: #f2b070;
}
.name {
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 10px;
}

label {
  margin: 0px;
  font-size: 12px;
  font-weight: 700;
}

input {
  height: 50px;
  font-size: 14px;
  padding-left: 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.button {
  text-align: left;
}
.button-reg {
  height: 50px;
  width: 120px;
  background: none;
  border-radius: 5px;
  background-color: #7848f4;
  border: 1px solid #fff;
  color: white;
  font-weight: 500;
}
.button-reg:focus {
  outline: none;
}
.button-reg:hover {
  background: #875af8;
}
.button-vip {
  height: 50px;
  width: 120px;
  background: none;
  border-radius: 5px;
  background-color: #ec9a48;
  border: 1px solid #ec9a48;
  color: white;
  font-weight: 500;
}
.button-vip:focus {
  outline: none;
}
.button-vip:hover {
  background: #eca761;
}

.user-container {
  width: 100%;
  height: 260px;
  font-size: 14px;
  background: #875af8;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto;
}
.user-tag {
  text-align: center;
  float: left;
  padding: 10px 10px 10px 15px;
  margin: 15px;
  background-color: #eeeeee;
  color: #7f7f7f;
  border: none;
  border-radius: 5px;
  margin: 3px;
  font-weight: 500;
}

.close-button {
  position: relative;
  top: -2px;
  cursor: pointer;
}
.billing {
  padding: 50px 50px 20px 50px;
  background-color: #f1f1f1;
  height: 100vh;
}
.bill {
  margin-top: 30px;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  height: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.bill-header {
  font-size: 15px;
  font-weight: 500;
}
.bill-data {
  font-size: 16px;
  font-weight: 400;
}
.bill-footer {
  font-size: 17px;
  font-weight: 400;
}
.bill-taxes {
  font-size: 15px;
  font-weight: 400;
}

.promo {
  color: #7848f4;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-top: 8px;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 0px 8px 0px;
}
.promo-code {
  border: 2px dashed #7848f4;
  border-radius: 5px;
  padding: 5px;
}
.promo-div {
  margin-top: 10px;
}
.final-bill {
  margin-top: 30px;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  height: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.final-amount {
  color: black;
  height: auto;
  border-radius: 5px;
}
.button-pay {
  height: 50px;
  width: 100px;
  background: none;
  border-radius: 5px;
  background-color: #ec9a48;
  border: 1px solid #ec9a48;
  color: white;
  font-weight: 500;
}
.button-pay:focus {
  outline: none;
}
.button-pay:hover {
  background: #eca761;
}
.button-apply {
  height: 50px;
  width: 80px;
  background: none;
  border-radius: 5px;
  background-color: #7848f4;
  border: 1px solid #7848f4;
  color: white;
  font-weight: 500;
}
.button-apply:focus {
  outline: none;
}
.button-apply:hover {
  background: #875af8;
}
